.wrapper {
    background-color: #4ba3c3ff;
    color: black;
  }
h1 {
    font-family: 'Merriweather', Merriweather, monospace;
    color: white;
    text-align: center;
  }
  
  p {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
  }
  
  p1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
  }
  
  .p2 {
    font-family: 'Merriweather', Merriweather, monospace;
    font-size: 24px;
  }
  
  img {
  width: 80%; height: 20%; align-content: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    width: 150px;
    display: table;
    margin: 0 auto;
  }
  
  li a {
  display: block;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
  }
  
  li a:hover {
    color: white;
  }
  
  li b {
  color: black;
  text-decoration: none;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  ul.a {
    list-style-type: disc;
    margin: 10px;
    padding: 10px;
    width: 150px;
  }
  li.a a{
  color: black;
  text-decoration: none;
  }
